<!doctype html>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>


<title>Processing Tools</title>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="static/service.js"></script>


<h3>Please upload Census data:</h3>


<form action = "http://localhost:8000/uploader" method = "POST" enctype = "multipart/form-data">
    <input type = "file" name = "file" />
    <input type = "submit"/>
</form> 


<figure class="highcharts-figure">
    <div id="container"></div>
</figure>


<div id='states_output'>{{states}}</div>
<div id='data_output'>{{data}}</div>

